{% extends 'base.html' %} 

{% block title %}Login | Student Management{% endblock%}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-100 p-4">
  <div class="bg-white shadow-lg rounded-lg p-6 max-w-sm w-full">
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Login</h2>

    <form method="POST" class="space-y-4">
      {% csrf_token %}

      <div>
        <label class="block text-gray-700 font-medium">Username</label>
        <input
          type="text"
          name="username"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Enter your username"
          required
        />
      </div>

      <div>
        <label class="block text-gray-700 font-medium">Password</label>
        <input
          type="password"
          name="password"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Enter your password"
          required
        />
      </div>

      <button
        type="submit"
        class="w-full bg-[#144131] text-white hover:bg-[#1b5a44] font-semibold py-2 px-4 rounded-lg transition duration-300"
      >
        Login
      </button>
    </form>

    <hr class="my-4">

    <p class="text-center text-gray-600 mt-4">
      Don't have an account?
      <a href="{% url 'register' %}" class="text-blue-500 hover:underline"
        >Register</a
      >
    </p>
  </div>
</div>
{% endblock %}
